<form [formGroup]="productForm" novalidate (ngSubmit)="onSubmit($event)">
  <mat-card class="product-card">
    <mat-card-header>
      <mat-card-title *ngIf="!productId">Crear Producto</mat-card-title>
      <mat-card-title *ngIf="productId">Editar Producto</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Nombre" formControlName="name">
            <mat-error *ngIf="productForm.controls['name'].hasError('required')">
              El nombre es <strong>requerido</strong>
            </mat-error>
            <mat-error *ngIf="productForm.controls['description'].hasError('maxlength')">
              El nombre debe contener <strong>máximo 80</strong> caracteres
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <mat-select placeholder="Categoria" formControlName="category">
              <mat-option *ngFor="let category of categories" [value]="category">
                {{ category }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="productForm.controls['category'].hasError('required')">
              La categoria es <strong>requerida</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Precio" formControlName="price" type="number">
            <mat-error *ngIf="productForm.controls['price'].hasError('required')">
              El precio es <strong>requerido</strong>
            </mat-error>
            <mat-error *ngIf="productForm.controls['price'].hasError('min')">
              El precio debe ser <strong>mayor o igual a 0</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Cantidad" formControlName="quantity" type="number">
            <mat-error *ngIf="productForm.controls['quantity'].hasError('required')">
              La cantidad es <strong>requerida</strong>
            </mat-error>
            <mat-error *ngIf="productForm.controls['quantity'].hasError('min')">
              La cantidad debe ser <strong>mayor o igual a 0</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <textarea matInput placeholder="Descripción" formControlName="description"></textarea>
            <mat-error *ngIf="productForm.controls['description'].hasError('required')">
              La descripción es <strong>requerida</strong>
            </mat-error>
            <mat-error *ngIf="productForm.controls['description'].hasError('minlength')">
              La descripción debe contener <strong>mínimo 10</strong> caracteres
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Enviar</button>
      <a mat-raised-button color="secondary" routerLink="/" type="button">Cancelar</a>
    </mat-card-actions>
  </mat-card>
</form>
